# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Virtual Environment (uv)
# ----------------------------
.venv/

# ----------------------------
# Python Build Artifacts
# ----------------------------
build/
dist/
*.egg-info/

# ----------------------------
# Environment Variables
# ----------------------------
.env
.env.*

# ----------------------------
# IDE Files
# ----------------------------
.vscode/
.idea/

# ----------------------------
# Operating System Files
# ----------------------------
.DS_Store
Thumbs.db
desktop.ini